.Front {
  a:focus {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: #f0f8ff;
  }
  nav {
    background: rgb(0, 0, 0);
    font-size: 28px;
    color: #f0f8ff;
    text-transform: uppercase;
    padding: 16px;
    border-radius: 25px;
    transition: all 0.6s;
    border-style: none;
    &:hover {
      background: #00aeff3f;
    }
  }
}
.Login-Modal {
  background: rgb(80, 89, 90);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  h2 {
    color: #f0f8ff;
    font-size: 28px;
    padding: 25px 0px;
  }
  form {
    color: #f0f8ff;
    label {
      padding-left: 25px;
    }
  }
}
